body{
    padding:0;
    margin: 0;
}
*{
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
img{
    width: 100px;
    display: inline;
}
.hide{
    background-color: red;
    padding: 20px;
    top: 0;
    right: 0;
position: absolute;
}
.flex_r{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flex_r_sb{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
.flex_c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titre{
    width: 300px;
    justify-content: space-around;
}
nav h1{
    display: inline;
    font-size: xx-large;
    font-weight: lighter; 
    color: antiquewhite;
}
nav{
    box-shadow: 0px -10px 20px;
    background-color: #191919;
    position: sticky;
    z-index: 100;
    top: 0;
}
a{
    text-decoration: none;
}
nav li a{
    color: rgb(255, 255, 255);

}
i{
    background-color: transparent;
}
nav > .nav{
    list-style: none;
    display: flex;
    align-items: baseline;
}
nav > .nav > li{
    padding:0 4px;

    margin-right:100px;
    transition: all 0.3s linear;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
nav > .nav > li:not(li:last-child){
        background-color:rgba(255, 255, 255, 0);
        border-left: 2px solid black;
        border-right: 2px solid black;
        color: antiquewhite;


}
nav > .nav >li:hover{
    transform: scale(1.2);
    background-color: rgba(214, 205, 208, 0.726);
}
#products{
    gap: 40px;
    margin: 20px;
    
}
.dhs{
    display: inline;
    font-size: medium;
}
#product{
    height: 400px;
    padding: 50px;
    box-shadow: 0px 0px 30px rgba(187, 189, 183, 0.658) ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
     align-items: center;

}
#product h1{
    font-size: large;
}
.product_img img{
   height: 100px;
   width: max-content;
}
.product_price a h2{
    background-color: rgba(0, 0, 0, 0.055);
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid;
    display: inline;
    color: #000000;

}
.product_price> h2{
    display: inline;
    color: red;
    margin-left: 10px;
    text-decoration:line-through;
}
.product_price{
    margin-bottom: 30px;
    margin-top: 30px;
}
#switch_imgs{
    height: max-content;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(248, 242, 242);
    background-size:contain;
    display: flex;
    align-items: center;
    justify-content: space-around;
   box-shadow: 0px 20px 20px gainsboro;
    padding-bottom: 40px;
    overflow-x: scroll;
    column-gap: 3px;
    scrollbar-width: 10px;
    scale: 0.9;
}
#switch_imgs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#switch_imgs::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#switch_imgs::-webkit-scrollbar-thumb {
    background-color: #00000000;
}

#first,#last{
    /* width: 400px;
    box-shadow: 0px 0px 20px rgba(146, 134, 134, 0.986);
     */
     display: none;
}
#switch_imgs i{
        font-size: 100px;
        margin: 10px;
        cursor: pointer;
        display: inline;
        position: sticky;
}
#switch_imgs img{
    width: max-content;
    height:50vh ;
    scale: 0.9;
    border: 1px solid rgba(0, 0, 0, 0.884) ;
    border-left: 0;
    border-right: 0;
    border-radius: 50px;
    filter: drop-shadow(1px 1px 10px rgba(255, 98, 7, 0.445));
}
#switch_img{
    width: 810px;
    height: 50vh;
    transition: all 1s linear; 
    box-shadow: 0px 0px 20px yellowgreen;
}
nav >ul > li:last-child{
    border: 0;
    display: inline;
    padding: 10px;
    text-align: center;
    color: antiquewhite;

}
nav >.nav >li:last-child:hover{
    background-color: transparent;
    scale: 1.2;
}

#sale_display{
    width: max-content;
    padding: 2px;
    height: max-content;
    background-color: #ffffff69;
    position: absolute;
    transform: translate(500px,50px);
    border-radius:30px;
    display: none;
    backdrop-filter: blur(4px);
    z-index: 1;
    backdrop-filter: blur(6px);
    border-top-left-radius: 0px;

}
#sale_inc{
    color: rgb(255, 255, 255);
    border: 0;
    font-size: xx-large;

}
#sale_display ol div{
    font-size: large;
    background-color: #242222e0;
    width: 377px;
    color: #fff0f0;
    margin: 4px;
    padding: 4px;
    
}

#sale_display ol ,#sale_display ol div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;

}

#sale_display ol h3{
    font-size: medium;
    float: left;
}
#sale{
    margin-left: 11px;
    /* scale: 0.2; */
    font-size: small;
    background-color: red;
    padding: 4px;
    border-radius: 16px;
    position: absolute;
    transform: translate(-24px, -6px);
}
#sale_display:hover{
    display: block;
}

#x{
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 3%;
    color: aliceblue;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all 0.2s linear;
    border-radius: 100%;
}
#x:hover{
    scale: 1.2;
    box-shadow: 0px 4px 10px rgba(20, 4, 19, 0.233);
}
.panier_paye{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px; 
    column-gap: 20px;

}
.panier_paye i{
    font-size: xx-large;
    background-color:#f5102f;
    color: #d8d3d3;
    padding: 0 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;
    column-gap: 10px;
    box-shadow: 0px 2px 2px rgb(0, 0, 0);


}
.panier_paye h1{
    background-color: rgba(201, 98, 224, 0.637);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px cornflowerblue; 
       cursor: pointer;
}
.panier_paye i:hover, .panier_paye h1:hover{
    scale: 1.1;
    transition: all 0.3s linear;
}
input[type="search"]{
    width: 300px;
    height: 40px;
    border-radius: 80px;
    outline: 0;
    border: 0;
    border: 1px solid;
    font-size:x-large;
    padding: 10px;
    font-weight: 200;

}
input[type="search"]:focus{
       outline: 0;
}
input[type="search"]::placeholder{
    font-size: medium;
    color: rgb(197, 193, 193);
}
.product1::before{
    content: "";
    display: block;
    background-image: url("/img/pngegg.png");
    background-size: cover;
    width: 150px;
    height: 130px;
    transform: translate(-132px,-75px);
    float: left;
    margin: 0 6px 0 0;
    position: absolute;
}
.product4::before{
    content: "";
    display: block;
    background-image: url("/img/w.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    transform:translateY(-50px) ;
    float: left;
    margin: 0 6px 0 0;
    position: absolute;
}

.before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;
    width: 60px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(251, 253, 139);
    margin-left:210px;
    margin-top: -40px;
}
input[type="submit"]{
    height: 40px;
    border: 0;
    border-radius: 70px;
    background-color: rgba(255, 68, 0, 0.76);
    font-size: large;
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s linear;
}
input[type="submit"]:hover{
    scale: 1.2;
    background-color: transparent;
    color: rgb(255, 231, 231);
}
footer{
    height: 50vh;
    width: 100%;
    background-color: rgb(66, 35, 122);
    margin-top: 40px;
}
#switch_img{
    width: max-content;
}
i:hover{
    text-shadow: -10px -10px 20px rgb(151, 148, 148);
    scale: 1.1;
    translate: 5px;
}
i{
    transition: all 0.3s linear;
}
.signin{
    background-color: rgb(112, 231, 112);
    padding: 4px;
    border-radius: 10px;
}
#signin{
    background-color: transparent;
}
li{
    border: 0;
    
}
#signout{
    transform: translate(20px,10px);
}
h3{
    display: inline;
    color: #fff0f0;
}
li:last-child a{
    color: #fff0f0;
margin:  50px;
background-color: crimson;
padding: 13px;
}
button:last-child{
border: 0;
}
@media  screen and (max-width:720px) {
   #switchs_img{
    width: 100vw;
    background-size: 600%;
   }
   #first,#last{
         display: none;
   }
   #switch_img{
  width: 75vw;
  height: 180px;
   }
   #switch_imgs i {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    display: inline;
    /* position: absolute; */
}
   nav.flex_r_sb{
display: none;  }
}
nav li{
    background-color: transparent;
}
img{
    transition: all 0.3s linear  ;
}
img:hover{
    scale: 1.1;
}
#sale_inc > #sale{
    scale: 0.3;

}
.product_price >h2{
    font-size:medium;
}
.displaye_paye{
    position: fixed;
    height: 60vh;
    width: 70vw;
    background-color: rgb(0, 0, 0);
    top: 30vh;
    left: 17vw;
    display: none;
}
h4{
    display: inline;
    font-size: small;
}
button{

    background-color: transparent;
}
.signin_des{
    position: fixed;
    height: 50vh;
    width: 33.33vw;
    background-color: #0b0b0b7c;
    top: 25vh;
    right:33.33vw ;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}
.signin_des > .signin{
    width: calc(25vw / 2);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    box-shadow: 0px 2px 4px black;
    background-color: #f5102f;
    border-radius: 50px;
}
.signin_des > .signin >a{
    color: #d8d3d3;
}
.x{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: red;
    cursor: pointer;
}